.cocktailsButton, .cocktailsLink{
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    border-radius: 12px;
    width:250px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
      
}

.cocktailsButton {background-color: #2196F3;} /* Blue */
.cocktailsButton:hover {background: #0b7dda;}