

  
  /* Set the background image for each container */
  .cocktailsContainer {
    width: 25%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    margin: 0;
    vertical-align: top;
    background-size: cover;
    background-position: center;
    border: 3px solid #b69121;
    margin: 3px;
    /* background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); */
    background:  #001d3d;
    border-radius: 8px;
 
  }

  .cocktailsImg{
    width: 300px;
    height: 300px;
    align-items: center;
    border-radius: 8px;
      
  }

  .bigCocktails{
    font-size: 36px;
    color:#b69121
  }
  
  /* Style the title within each container */
  .cocktailsContainer .cocktailsTitle {
    color: #b69121;
    font-size: 30px;
    font-weight: 900;
    height: 33.33%;
    padding: 8px;
    margin: 0;
    text-decoration: underline;
    font-family: 'Jazz LET, fantasy';
  }
  
  /* Style the description within each container */
  .cocktailsContainer .cocktailsP {
    color: white;
    font-size: 18px;
    height: 25%;
    padding: 10px;
    margin: 0;
    font-family: 'Jazz LET, fantasy' fantasy;
  }

.cocktailsButton, .cocktailsLink{
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
    border-radius: 12px;
    width:200px;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 10px;
      
}

.cocktailsButton {background-color: #064375;} /* Blue */
.cocktailsButton:hover {background: #0b7dda;}
  
