/* Center the form on the screen */
.cocktailForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
  }
  
  /* Style the labels */
  .cocktailLabel {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;

  }
  
  /* Style the input fields */
  .cocktailInput {
    padding: 5px;
    margin-bottom: 10px;
    width: 500px;
    height: 200px;
    border-radius: 24px;
    text-align: center;
    border:1px solid #3498db;
  }
  
  /* Style the submit button */
  .cocktailSubmit  {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  /* Add hover effect to the submit button */
  .cocktailSubmit:hover {
    background-color: #2980b9;
  }
  