.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color:#064375;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  
  .formTitle {
    text-align: center;
    color: white;
    /* margin-bottom: 20px; */
  }
  
  .inputContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  label {
    margin-bottom: 8px;
    padding-right: 15px;
    color: white;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .submitBtn {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    /* position: absolute;
    margin-left: 230px; */
    
  }
  
  .submitBtn:hover {
    background-color: #45a049;
  }
  
  .submitBtn:focus {
    outline: none;
  }
  
  .submitBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .toggleBtn {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 25px;

    
  }
  
  .toggleBtn:hover {
    background-color: #45a049;
  }
  
  .toggleBtn:focus {
    outline: none;
  }
  
  .toggleBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .holdingBackground{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: max-content;
  }
  